<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crc.business.oa.dao.ApprovalDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.crc.business.oa.model.entity.ApprovalEntity" id="tOaApprovalMap">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="number" column="number"/>
        <result property="approver" column="approver"/>
        <result property="approvalContent" column="approval_content"/>
        <result property="approvalNode" column="approval_node"/>
        <result property="approvalTime" column="approval_time"/>
        <result property="area" column="area"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


</mapper>